<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dsd</title>
    <script type="module" src="../assets/js/index.js"></script>
    <link href="../assets/fonts/Roboto-Black.ttf">
    <!-- <script src="assets/js/api.js"></script> -->
    <link rel="stylesheet" href="assets/css/styles.css">
</head>
<body class="bg-dark-200">
   <section>
       <p>oi</p>
       <div class="container px-md-2">
           <div id="animes" class="d-flex flex-wrap"></div>
       </div>
   </section>
</body>
</html>